{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'profilestyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    
</head>
<body>
    <a href="{% url 'homeChatViewLogic' %}" class="home-button"> <i class="fas fa-home"></i> Home</a>

    {%if status == "NotFound" %}
    
    <div class="profile-container">
        <div class="profile-header">
            <img src="https://i.pinimg.com/736x/2d/0a/c1/2d0ac1a919f4e8fac355c2db65b84bd2.jpg" alt="Profile Picture" class="profile-image">
            <div class="profile-info">
                
                <div class="profile-stats">
                    <div class="stat-item">
                        
                        <div class="stat-label">User Not Found</div>
                    </div>
 
              
                
                </div>
            </div>
        </div>

        {% else %}
       
        <div class="profile-container">
            
            <div class="profile-header">
                
                <img src={{userinfo.profilePicture}} alt="Profile Picture" class="profile-image">
            
                <div class="profile-info">
                    
                    <p>@{{userinfo.username}}</p>
                    <div class="profile-stats">
                        <div class="stat-item">
                            <div class="stat-value">{{ songcount }}</div>
                            <div class="stat-label">Liked Songs</div>
                        </div>
                        <div class="stat-item">
                            
                            <div class="stat-value">{{ messagecount }}</div>
                            <div class="stat-label">Messagest Sent</div>
                        </div>
                  
                    
                    </div>
                </div>
            </div>

            {% if userinfo.username == request.user.username%}
        
        <div class="profile-sections">
            <div class="section-card">
                <div class="section-header">
                    <h2 class="section-title">{{userinfo.username}}'s Playlists</h2>
                </div>
             
                <div class="playlist-grid">
                    <a href="{% url 'songPlayer' username=user clickedplaylist="indie" %}" >

                    <div class="playlist-card" >
                        <img src="https://i.pinimg.com/236x/5f/c7/3b/5fc73b003d838686cab91cc8b4f4fa62.jpg" alt="Playlist Cover" class="playlist-image">
                        <div class="playlist-info" >
                            <div class="song-name">Indie</div>
                            <div class="song-count">{{indiecount}} songs</div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'songPlayer' username=user clickedplaylist="pop" %}">
                    <div class="playlist-card">
                        
                        <img src="https://i.pinimg.com/736x/5d/18/f4/5d18f4f26c27328b4af9c92bda69b31f.jpg" alt="Playlist Cover" class="playlist-image">
                        <div class="playlist-info">
                            <div class="song-name">Pop</div>
                            <div class="song-count">{{popcount}} songs</div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'songPlayer' username=user clickedplaylist="rap" %}">
                    <div class="playlist-card">
                       
                        <img src="https://i.pinimg.com/474x/8d/fb/4a/8dfb4ae26f921d25892833878837a5a3.jpg" alt="Playlist Cover" class="playlist-image">
                        <div class="playlist-info">
                            <div class="song-name">Rap</div>
                            <div class="song-count">{{rapcount}} songs</div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'songPlayer' username=user clickedplaylist="lofi" %}">
                    <div class="playlist-card">
                       
                        <img src="https://i.pinimg.com/236x/6f/79/ad/6f79ad502be93c697c7541ef46052438.jpg" alt="Playlist Cover" class="playlist-image">
                        <div class="playlist-info">
                            <div class="song-name">Lofi</div>
                            <div class="song-count">{{loficount}} songs</div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'songPlayer' username=user clickedplaylist="hiphop" %}">
                    <div class="playlist-card">
                       
                        <img src="https://i.pinimg.com/236x/b6/3a/9a/b63a9a1dfa2aaceec75adbef20172688.jpg" alt="Playlist Cover" class="playlist-image">
                        <div class="playlist-info">
                            <div class="song-name">HipHop</div>
                            <div class="song-count">{{hiphopcount}} songs</div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'songPlayer' username=user clickedplaylist="edm" %}">
                    <div class="playlist-card">
                        
                        <img src="https://i.pinimg.com/736x/ff/8e/d3/ff8ed3bb1c168646c942405b3e050fd2.jpg" alt="Playlist Cover" class="playlist-image">
                        <div class="playlist-info">
                            <div class="song-name">EDM</div>
                            <div class="song-count">{{edmcount}} songs</div>
                        </div>
                    </div>
                </a>
                </div>

            </div>

            {%else %}

            <div class="profile-sections">
                <div class="section-card">
                    <div class="section-header">
                        <h2 class="section-title">{{userinfo.username}}'s Playlists</h2>
                    </div>
                 
                    <div class="playlist-grid">
                        <a href="{% url 'songPlayer' username=user clickedplaylist="indie" %}" style="pointer-events: none;">
    
                        <div class="playlist-card" >
                            <img src="https://i.pinimg.com/236x/5f/c7/3b/5fc73b003d838686cab91cc8b4f4fa62.jpg" alt="Playlist Cover" class="playlist-image">
                            <div class="playlist-info" >
                                <div class="song-name">Indie</div>
                                <div class="song-count">{{indiecount}} songs</div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'songPlayer' username=user clickedplaylist="pop" %}" style="pointer-events: none;">
                        <div class="playlist-card">
                            
                            <img src="https://i.pinimg.com/736x/5d/18/f4/5d18f4f26c27328b4af9c92bda69b31f.jpg" alt="Playlist Cover" class="playlist-image">
                            <div class="playlist-info">
                                <div class="song-name">Pop</div>
                                <div class="song-count">{{popcount}} songs</div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'songPlayer' username=user clickedplaylist="rap" %}" style="pointer-events: none;">
                        <div class="playlist-card">
                           
                            <img src="https://i.pinimg.com/474x/8d/fb/4a/8dfb4ae26f921d25892833878837a5a3.jpg" alt="Playlist Cover" class="playlist-image">
                            <div class="playlist-info">
                                <div class="song-name">Rap</div>
                                <div class="song-count">{{rapcount}} songs</div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'songPlayer' username=user clickedplaylist="lofi" %}" style="pointer-events: none;">
                        <div class="playlist-card">
                           
                            <img src="https://i.pinimg.com/236x/6f/79/ad/6f79ad502be93c697c7541ef46052438.jpg" alt="Playlist Cover" class="playlist-image">
                            <div class="playlist-info">
                                <div class="song-name">Lofi</div>
                                <div class="song-count">{{loficount}} songs</div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'songPlayer' username=user clickedplaylist="hiphop" %}" style="pointer-events: none;">
                        <div class="playlist-card">
                           
                            <img src="https://i.pinimg.com/236x/b6/3a/9a/b63a9a1dfa2aaceec75adbef20172688.jpg" alt="Playlist Cover" class="playlist-image">
                            <div class="playlist-info">
                                <div class="song-name">HipHop</div>
                                <div class="song-count">{{hiphopcount}} songs</div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'songPlayer' username=user clickedplaylist="edm" %}" style="pointer-events: none;">
                        <div class="playlist-card">
                            
                            <img src="https://i.pinimg.com/736x/ff/8e/d3/ff8ed3bb1c168646c942405b3e050fd2.jpg" alt="Playlist Cover" class="playlist-image">
                            <div class="playlist-info">
                                <div class="song-name">EDM</div>
                                <div class="song-count">{{edmcount}} songs</div>
                            </div>
                        </div>
                    </a>
                    </div>
    
                </div>

                {% endif %}

          


            
            {% if request.user.username == userinfo.username%}
            <div class="section-card">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                

                <div class="section-header">
                    
                    <h2 class="section-title">Account Settings</h2>
                </div>
                <form method="POST" class="account-form">
                    {% csrf_token %}
                    <div class="form-group" disabled>
                        <label for="username">Username</label>
                        <input type="text" id="username" value={{userinfo.username}} readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" value={{userinfo.email}} readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">Current Password</label>
                        <input type="password" id="currentpassword" name="currentpassword" placeholder="Enter current password">
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter new password">
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm new password">
                    </div>
                    <button type="submit" class="save-button">Save Changes</button>
                    <input type="file" class="file-upload" id="fileUpload" accept="image/*">
                </form>

               
            </div>
            {%endif%}

        </div>
    </div>
    {%endif%}

  <script>
    const CLOUD_NAME = "dv2qm6ktz"; 
    const UPLOAD_PRESET = "chatwave"; 
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    async function uploadFile(image) {
        const formData = new FormData();
        formData.append('file', image); 
        formData.append('upload_preset', UPLOAD_PRESET); 
    
        try {
            const response = await fetch(`https://api.cloudinary.com/v1_1/${CLOUD_NAME}/image/upload`, {
                method: 'POST',
                body: formData,
                
            });
    
            const result = await response.json(); 
            const user = "{{request.user.username}}";
            
            const url = 'saveFileUrl/';
    
            if (response.ok) {
                const dbresponse = await fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({ image_url: result }),
                });
                return "success"; 

            } else {
                throw new Error(result.error.message); 
            }
        } catch (error) {
            console.error('Error uploading file:', error);
            return "error"; 
        }
    }

    

    


    const fileUpload = document.getElementById('fileUpload');

    const profileImage = document.querySelector(".profile-image")
    profileImage.addEventListener('click', () => {
        fileUpload.click();
    });

    fileUpload.addEventListener('change',async (e) => {
        const image = e.target.files[0];
        const Imageurl = await uploadFile(image)
        window.location.reload()

    });

  </script>



</body>

</html>