{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>ChatWave | Chat</title>
   
    <link rel="stylesheet" href="{% static 'chatstyle.css' %}">
    

</head>
<body>
    <div class="container">
        <div class="side-nav">
            <div class="nav-top">
            <a class="nav-button" href="{% url 'homeChatViewLogic' %}">🏠</a>
          
            <button class="nav-button">⚙️</button>
            </div>
            <button class="nav-button profile-button">👤</button>
        </div>
        
        <div class="chat-rooms">
            <div class="chat-rooms-header">
                <h2>Chat Rooms</h2>
                <button class="add-room">+</button>
            </div>
            <div class="room-list">
                
                <div class="room-category">
                    <h3>General</h3>
                    <a href="{% url 'chatViewLogic' chatroom='General_Chat' %}"><div class="room-item">General Chat</div></a>
                    <a href="{% url 'chatViewLogic' chatroom='General_Chat_2' %}"><div class="room-item">General Chat 2</div></a>
                </div>
                
                <div class="room-category">
                    <h3>Music</h3>
                    <a href="{% url 'chatViewLogic' chatroom='Music_Chat' %}"><div class="room-item">Music Chat</div></a>
                    <a href="{% url 'chatViewLogic' chatroom='Music_Chat_2' %}"><div class="room-item">Music Chat 2</div></a>
                </div>
                
                <div class="room-category">
                    <h3>Gaming</h3>
                    <a href="{% url 'chatViewLogic' chatroom='Game_Chat' %}"><div class="room-item">Game Chat</div></a>
                    <a href="{% url 'chatViewLogic' chatroom='Game_Chat_2' %}"><div class="room-item">Game Chat 2</div></a>
                </div>
           
            </div>
        </div>

        <div class="chat-section">
            <div class="chat-header">
                <h2>{{chat_room.room_name}}</h2>
                <div class="chat-header-actions">
        
                    <button>🔔</button>
                    <button>🔓</button>
                </div>
            </div>                                               
            <div class="chat-messages">


                {% for message in chat_messages %}
                {% if message.sender.username != request.user.username%}

                <div class="message">
                    <img src="https://i.pinimg.com/736x/4c/d2/a6/4cd2a6615820a4a15f4d85de7762251d.jpg" alt="userimage">
                    <div class="user"> <a id="messageUsername" href="{%url 'profile' message.sender.username %}">{{ message.sender.username }} </a>
                        <div class="timestamp">{{ message.created|date:"h:i A" }}
                            <h3 class="text-message"> {{ message.message }} </h3>
                        </div>
                        
                    </div>
                   

                
                    
                </div>

               
                {% else %}
                <div class="message sent">
                    <img src="https://i.pinimg.com/736x/4c/d2/a6/4cd2a6615820a4a15f4d85de7762251d.jpg" alt="userimage">
                    <div class="user">You
                        <div class="timestamp">{{ message.created|date:"h:i A" }}
                            <h3> {{ message.message }} </h3>
                        </div>
                    </div>
           
                   
                </div>

                {% endif %}
                {% endfor %}

          
                
            </div>
            <div class="input-area">
                <input type="text" placeholder="Start typing...">
                <div class="input-actions">
                    <button>😊</button>
                    <button>🎵</button>
                    <button>📸</button>
                  
                </div>
            </div>
        </div>

        <div class="right-panel">
<div class="music-player">

    {% if songs%}
        {% if status == "valid" %}
        <img src="{{ songs.thumbnail.url }}" alt="Album Art" class="album-art">
        <div class="track-info">
            <h3>{{ songs.title }}</h3>
            <p>{{ songs.artist }}</p>
        </div>
        <audio controls>
            <source src="{{ songs.song.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {%else%}
        {% comment %} <img src="{{ songs.thumbnail.url }}" alt="Album Art" class="album-art"> {% endcomment %}
        <div class="track-info">
            <h3>Not enough messages! Would you like to play a random song instead?</h3>
            <button>Yes </button>
            <button>No </button>
        </div>
        {%endif%}


    {% else %}
        
    <img src="https://i.pinimg.com/736x/9c/1d/df/9c1ddfa2bc9e17d4dbf4799f73622f23.jpg" alt="Album Art" class="album-art">
    <div class="track-info">
        <h3>Press on the '➕' icon to start listening to music!</h3>
    </div>

    {% endif %}


    <div class="player-controls">
        <form method="post">
            {% csrf_token %}   
        <button type="submit" id="next-song" name="action" value="next-song" >➕</button>
    </form>
        <button type="submit" id="like-song" name="action" value="like-song">❤️</button>
    
    </div>

</div>
            <div class="users-section">
                <div class="online-count">
                    <h3>Online Users</h3>
                    <span id='online-count'> {{ chat_room.online_count}} active</span>
           
                </div>
                <ul class="users-list">
                    {%for user in chat_room.online_users%}
                    {% if user %}
                    <li>
                        <a href= {%url 'profile' user%}><span> {{user}} </span>
                        <span class="status"></span>
                    </li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>

    <div class="modal" id="settingsModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Settings</h3>
                <button class="modal-close">&times;</button>
            </div>
            <div>
                <h4>Theme Selection</h4>
                <select id="themeSelect" style="background: #1f1f1f; color: #fff; padding: 5px; border: 1px solid #ff336633; border-radius: 4px;">
                    <option value="blue_pink">Serene Skies</option>
                    <option value="darkcharcoal_yellow">Midnight Spark</option>
                    <option value="lightred_yellow">Sunset Glow</option>
                    <option value="darkblue_lightgreen">Blue Horizon</option>
                    <option value="forestgreen_mossgreen">Woodland Whisper</option>
                    <option value="pastelolivegreen_salmonpink">Peachy Meadow</option>
                </select>
                
               
              
            </div>
        </div>
    </div>

    <div class="search-modal" id="searchModal">
        <input type="text" class="search-input" placeholder="Search messages...">
        <div id="searchResults"></div>
    </div>

    <div class="music-search-modal" id="musicModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Spotify Music Search</h3>
                <button class="modal-close">&times;</button>
            </div>
            <div>
                
                <input type="text" class="song-search-input" placeholder="Search for a song">
                <input type="button" class = "button-song-input" value="SUBMIT">
                </select>
                
               
              
            </div>
        </div>
    </div>

    <input type="file" class="file-upload" id="fileUpload" accept="image/*">

    <script>
        document.addEventListener('DOMContentLoaded', () => {


            const emojiButton = document.querySelector(".input-actions button:first-child");
            emojiButton.addEventListener('click', () => {   
                alert("working")
            });

            const musicButton = document.querySelector(".input-actions button:nth-child(2)")
            const musicModal = document.getElementById('musicModal');
            const closeMusicBtn = musicModal.querySelector('.modal-close');
            const songButtonInputBtn = musicModal.querySelector(".button-song-input");


            musicButton.addEventListener('click',() => {
                    musicModal.classList.toggle('active');
                });

            songButtonInputBtn.addEventListener('click', () => {
                const songInput = document.querySelector(".song-search-input");
                const music = songInput.value.trim();
                
                

            });


            closeMusicBtn.addEventListener('click', () => {
                    musicModal.classList.remove('active');
                });

            
                const logoutButton = document.querySelector(".chat-header-actions button:nth-child(2)");

                logoutButton.addEventListener('click', () => {
                   
                    window.location.href = "http://localhost:8000/auth/logout/"; 
                });
                
  

            const themeSelect = document.getElementById('themeSelect');
            themeSelect.addEventListener('change', (e) => {
                if (e.target.value === 'blue_pink') {

                    {% comment %} will finish this later using functions {% endcomment %}
                    document.body.style.backgroundColor = "#87CEEB";  
                    document.body.style.color = "#FF69B4"; 
                
                    document.querySelector('.chat-rooms').style.backgroundColor = "#ADD8E6"; 
                    document.querySelector('.chat-section').style.backgroundColor = "#ADD8E6";  
                    document.querySelector('.profile button').style.backgroundColor = "#FFB6C1";  
                    document.querySelector('.side-nav').style.backgroundColor = "#4682B4";  
                    document.querySelector('.container').style.backgroundColor = "#B0C4DE";  
                    document.querySelector('.room-item').style.backgroundColor = "#FFC0CB";  
                    document.querySelector('.room-item').style.border = "1px solid #FF1493"; 
                    document.querySelector('.chat-rooms:h2').style.color = "#FF69B4"; 
                    document.querySelector('.add-room').style.color = "#DB7093";  
                    document.querySelector('.chat-section').style.backgroundColor = "#87CEFA";  
                    document.querySelector('.message').style.backgroundColor = "#E6E6FA";  
                    document.querySelector('.message .user').style.backgroundColor = "#FFB6C1";  
                    document.querySelector('.message .sent').style.backgroundColor = "#FF69B4";  
                    document.querySelector('.input-area').style.backgroundColor = "#B0E0E6";  
                }
                
                    
                else {
                    document.body.style.background = '#0a0a0a';
                    document.body.style.color = '#fff';
                    
                }
            });


            
            const roomName = "{{ chat_room.room_name }}";
            const chatSocket = new WebSocket(
                'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
            );

            const likeSong = document.getElementById("like-song");
            likeSong.addEventListener("click", () => {
                const songs = "{{ songs.title|escapejs }}";
                chatSocket.send(JSON.stringify({
                    'type': 'song',
                    'song': songs
                }));
            });
            

            function scrollToBottom() {
                const chatMessages = document.querySelector('.chat-messages');
                chatMessages.scrollTop = chatMessages.scrollHeight;
            }

           
            scrollToBottom();


            function escapeHTML(html) {
                const div = document.createElement('div');
                div.innerText = html;
                return div.innerHTML;
            }
            

            function sendMessage() {
                const messageInput = document.querySelector('.input-area input');
                const message = messageInput.value.trim();
                
                if (message) {
                    const chatMessages = document.querySelector('.chat-messages');
                    const newMessage = document.createElement('div');
                    newMessage.className = 'message sent';

                    chatSocket.send(JSON.stringify({
                        'message': message
                    }));
                    
                    const time = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                    const sanitizedMessage = escapeHTML(message);
                    newMessage.innerHTML = `
                    <img src="https://i.pinimg.com/736x/4c/d2/a6/4cd2a6615820a4a15f4d85de7762251d.jpg" alt="userimage">
                        <div class="user">You
                        <div class="timestamp">${time}</div>
                       <h3> ${sanitizedMessage} </h3>
                        </div>
                    `;
                    
                    chatMessages.appendChild(newMessage);
                    scrollToBottom();
                    messageInput.value = '';
                }
            }

          
            const sendButton = document.querySelector('.input-area .input-actions button:last-child');
            const messageInput = document.querySelector('.input-area input');

            document.addEventListener('keypress', (e) => {
                if (e.key == "/") {
                    const searchInput = document.querySelector('.input-area input');
                    e.preventDefault();
                    searchInput.focus();
                }
            });
            
            sendButton.addEventListener('click', sendMessage);
            messageInput.addEventListener('keypress', (e) => {
                if (e.key === 'Enter') {
                    sendMessage();
                }
            });

            function userJoinLeaveMessage(message) {
                const chatMessages = document.querySelector('.chat-messages');
                const newMessage = document.createElement('div');
                newMessage.className = 'system message';

                const time = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                
                newMessage.innerHTML = `
                {% comment %} <div class="user">System</div> {% endcomment %}
                <div class="message-content">${message}</div>
                <div class="timestamp">${time}</div>
            `;
            
                
                chatMessages.appendChild(newMessage);
                scrollToBottom();
                messageInput.value = '';
            }

           
            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                {% comment %} console.log(data) {% endcomment %}
                
                if (data.type === 'songResult') {
                    if (data.songResult == "Present") {
                        alert("Song already present")
                    }
                    else {
                        alert("song added")
                    
                    }
                }

                else if (data.type === "online_count")
                {
                    document.getElementById('online-count').textContent = data.online_count + " active";
                    if (data.identifier === 'joined'){
                    userJoinLeaveMessage(`Welcome to the ChatRoom, ${data.recently_joined}`)
                    }
                    
                    const onlineUserList = document.querySelector(".users-list");
                    onlineUserList.innerHTML = ''; 

                   

                    for (let user of data.online_users) {
                        const li = document.createElement('li');
                    
                        const spanUser = document.createElement('span');
                       
                        const profileUrl = `/account/${user}`;  
                        spanUser.innerHTML = `<a href="${profileUrl}">${user}</a>`;  
                    
                        const spanStatus = document.createElement('span');
                        spanStatus.classList.add('status');
                    
                        li.appendChild(spanUser);
                        li.appendChild(spanStatus);
                    
                        onlineUserList.appendChild(li);
                    }
                    
                }

                else {
               
                const message = data.message;
                const username = data.username;
                
                const currentUser = "{{ request.user.username }}";
                
                
                if (username != currentUser) {
                
                
                const chatMessages = document.querySelector('.chat-messages');
                const newMessage = document.createElement('div');
                newMessage.className = 'message';

                const time = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                
                newMessage.innerHTML = `
                <div class="user">${username}</div>
                ${message}
                <div class="timestamp">${time}</div>
            `;
            
            chatMessages.appendChild(newMessage);
            scrollToBottom();
           
                scrollToBottom(); 

                }
            };
        }



        
    

        

        const settingsBtn = document.querySelector('.side-nav button:nth-child(2)');
        const settingsModal = document.getElementById('settingsModal');
        const closeSettingsBtn = settingsModal.querySelector('.modal-close');

        settingsBtn.addEventListener('click', () => {
            settingsModal.classList.toggle('active');
        });

        closeSettingsBtn.addEventListener('click', () => {
            settingsModal.classList.remove('active');
        }); 

        const profileBtn = document.querySelector('.profile-button');
        profileBtn.addEventListener('click', () => {
            
            const username = "{{ request.user.username }}"
            
            window.location.href = window.location.origin + "/account/" + username ;
        });
        

        
        


        const attachmentBtn = document.querySelector('.input-actions button:nth-child(3)');
        const fileUpload = document.getElementById('fileUpload');

        attachmentBtn.addEventListener('click', () => {
            fileUpload.click();
        });

        fileUpload.addEventListener('change', (e) => {
            const file = e.target.files[0];
            if (file) {
                
                const reader = new FileReader();
                reader.onload = (e) => {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px';
                    img.style.borderRadius = '8px';
                    
                    const message = document.createElement('div');
                    message.className = 'message sent';
                    message.innerHTML = `
                        <div class="user">You</div>
                        <div class="timestamp">${new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}</div>
                    `;
                    message.insertBefore(img, message.querySelector('.timestamp'));
                    
                    document.querySelector('.chat-messages').appendChild(message);
                    const chatMessages = document.querySelector('.chat-messages');
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                };
                reader.readAsDataURL(file);
                
            }

            

            
        });


    });
    
    </script>
</body>
</html>